<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Face Detection</title>
    </head>
  <body style="padding-left: 350px; background-color: rgb(255, 167, 4);">
    <div style="margin: 50px 300px; border-radius: 5px;"></div>
        <h1>Face Detection Using OpenCV</h1>
        <img id="bg" src="{{ url_for('video_feed') }}">
    </div>
  </body>
</html>